@model List<Car>

@{
    var cars = Model;
    var firstCar = cars[0];
}
@{
    void renderImg(Car cars){
        <figure class="figure">
            <img src="@cars.Image" alt="@cars.Model">
            <figcaption><strong>figcaption: </strong> @cars.Name</figcaption>
        </figure>
    }
}

    @for (int i = 0; i < cars.Count; i++)
    {
    <ul class="ul">
        <li>
           @{
               renderImg(cars[i]);
           }
        </li>
        <li><strong>Name: </strong> @cars[i].Name</li>
        <li><strong>Description</strong> @Html.Raw(@cars[i].HtmlDescription)</li>
        <li><strong>Year: </strong> @cars[i].duration</li>
        <li><a href="/car/GetDetails?carModel=@cars[i].Model&status=@Status.List">Details</a></li>
    </ul>
    }


<table class="table">
    <tr>
        <th>Count</th>
        <th>Name</th>
        <th>Image</th>
        <th>HtmlDescription</th>
        <th>FirstUseDate</th>
        <th>Action</th>
    </tr>
    @for(int i =0; i < cars.Count; i++)
    {
        <tr>
            <td>@i</td>
            <td>@cars[i].Name</td>
            <td>
                @{
                    renderImg(cars[i]);
                }
                </td>
            <td>@Html.Raw(@cars[i].HtmlDescription)</td>
            <td> @cars[i].duration</td>
            <td><a href="/car/GetDetails?carModel=@cars[i].Model&status=@Status.Table">Details</a></td>
        </tr>
    }
</table>