@model List<Car>

@{
    var cars = Model;
    var firstCar = cars[0];
}


    @for (int i = 0; i < cars.Count; i++)
    {
    <ul class="ul">
        <li>
            <figure class="figure">
                    <img src="@cars[i].Image" alt="@cars[i].Model">
                <figcaption><strong>figcaption: </strong> @cars[i].Model from @cars[i].Manufacturer</figcaption>
             </figure>
        </li>
        <li><strong>Name: </strong> @cars[i].Model from @cars[i].Manufacturer</li>
        <li><strong>Description</strong> @Html.Raw(@cars[i].HtmlDescription)</li>
        <li><strong>Year: </strong> @(DateTime.Now.Year - cars[i].FirstUseDate.Year)</li>
        <li><a href="/car/GetDetails?carModel=@cars[i].Model&status=List">Details</a></li>
    </ul>
    }


<table class="table">
    <tr>
        <th>Count</th>
        <th>Name</th>
        <th>Image</th>
        <th>HtmlDescription</th>
        <th>FirstUseDate</th>
    </tr>
    @for(int i =0; i < cars.Count; i++)
    {
        <tr>
            <td>@i</td>
            <td>@cars[i].Model from @cars[i].Manufacturer</td>
            <td>
                <figure class="figure">
                    <img src="@cars[i].Image" alt="@cars[i].Model">
                    <figcaption>@cars[i].Model from @cars[i].Manufacturer</figcaption>
                </figure>
                </td>
            <td>@Html.Raw(@cars[i].HtmlDescription)</td>
            <td> @(DateTime.Now.Year - cars[i].FirstUseDate.Year)</td>
            <td><a href="/car/GetDetails?carModel=@cars[i].Model&status=Table">Details</a></td>
        </tr>
    }
</table>


@*
    Outstanding task => keep it up 

    Think about removing duplication of this code:
    <figure>
        <img src="@cars[i].Image" alt="@cars[i].Model From @cars[i].Manufacturer" />
        <figcaption>@cars[i].Model From @cars[i].Manufacturer</figcaption>
    </figure>

    These two lines also:
    {cars[i].Model} From {cars[i].Manufacturer}
    {DateTime.Now.Year - cars[i].FirstUseDate.Year}
*@