@model getData

@{
    var car = Model.car;
    var status = Model.status;
}

<div>
      <figure class="figure">
          <img src="@car.Image" alt="@car.Model">
          <figcaption>@car.Model from @car.Manufacturer</figcaption>
     </figure>
    <p><strong>Model:</strong>  @car.Model</p>
    <p><strong>Manufacturer:</strong> @car.Manufacturer</p>
    <p><strong>Description: </strong>@Html.Raw(@car.HtmlDescription)</p>
    <p><strong>Year:</strong> @(DateTime.Now.Year - car.FirstUseDate.Year)</p>
    <p>from: @status</p>
    

</div>