@using Day3.Models.Domain
@model List<Ticket>;

<div class="container">
    @foreach(var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <p><strong>CreatedDate:</strong> @item.CreatedDate</p>
                <p><strong> IsClosed: </strong>@item.IsClosed</p>
                <p><strong> Severity: </strong>@item.Severity</p>
                <p><strong>Description: </strong>@item.Description</p>
                <p><strong>department Name: </strong>@item.department?.Name</p>
                <p><strong>Developer Name:</strong>
                    @foreach(var developer in item.Developers)
                    {
                        
                            @($"{developer.FirstName}  {developer.LastName}. ");
                       
                    }
                         </p>
                <a asp-action="Edit"  class="btn btn-primary text-white">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning text-white">Delete</a>


            </div>
        </div>
    }
    <a asp-action="Add" class="alert alert-dark">Add Another Ticket</a>
</div>

